#mcVideoPlayer .uvpjs,
#mcVideoPlayer .uvpjs__content,
#mcVideoPlayer .uvpjs__controls {
  visibility: visible!important;
}

#mcVideoPlayer .uvpjs__controlbar {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -o-linear-gradient(top, transparent, #000);
  background: linear-gradient(to bottom, rgba(0,0,0,0),#000000);
}

#mcVideoPlayer .uvpjs__btn-settings,
#mcVideoPlayer .uvpjs__btn-captions {
  display: none;
}

#mcVideoPlayer .uvpjs__progress {
  bottom: 40px;
  left: 15px;
  right: 15px;
}
@media only screen and (max-width: 768px) { /* mobile devices */
  #mcVideoPlayer .uvpjs__progress {
    left: 0;
    right: 0;
  }
}

#mcVideoPlayer .uvpjs__volume {
  position: absolute;
  left: 40px;
  height: 40px;
  width: 120px;
}

#mcVideoPlayer .uvpjs__btn-volume {
  left: 0;
  right: auto;
  width: 40px;
  height: 40px;
}

#mcVideoPlayer .uvpjs__volume-slider {
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  background: none;
  right: auto;
  left: 40px;
  bottom: 15px;
  border: 10px;
  margin-bottom: 4px;
  opacity: 0;
}

#mcVideoPlayer .uvpjs__volume .uvpjs__volume-slider {
  visibility: visible !important;
}

@media only screen and (min-width: 768px) { /* desktop only */
  #mcVideoPlayer .uvpjs__volume:hover .uvpjs__volume-slider {
    opacity: 1 !important;
  }
}

#mcVideoPlayer .uvpjs__controlbar--active .uvpjs__volume-slider {
  display: block!important;
}

#mcVideoPlayer .uvpjs__time {
  right: 40px;
}

#mcVideoPlayer button.uvpjs__btn-fullscreen::before,
#mcVideoPlayer button.uvpjs__btn-playstate::before {
  width: 14px;
  height: 14px;
  top: 13px;
}

#mcVideoPlayer .uvpjs__btn-replay {
  cursor: pointer !important;
  background-color: transparent;
  background-image: none!important;
}

#mcVideoPlayer .uvpjs__btn-preview--replay {
  display: block!important;
  opacity: 1;
}

#mcVideoPlayer .uvpjs__btn-preview--replay::before,
#mcVideoPlayer .uvpjs__btn-preview--replay::after {
  display: none;
}

#mcVideoPlayer .uvpjs__btn-preview::before,
#mcVideoPlayer .uvpjs__btn-large-play::before,
#mcVideoPlayer .uvpjs__btn-replay::before {
  background: #333;
  border-width: 6px;
  border-color: #fbc932;
  transition: opacity .2s ease-in-out;
}

#mcVideoPlayer .uvpjs__btn-preview:hover::before,
#mcVideoPlayer .uvpjs__btn-large-play:hover::before,
#mcVideoPlayer .uvpjs__btn-replay:hover::before {
  opacity: .75;
}

#mcVideoPlayer button.uvpjs__btn-captions--active {
	color: #fbc932
}

#mcVideoPlayer .uvpjs__progress-slider::-webkit-slider-runnable-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs__progress-slider::-moz-range-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs__progress-slider::-ms-fill-lower {
	background: #fbc932
}

#mcVideoPlayer .uvpjs__progress-slider::-webkit-slider-thumb {
  visibility: hidden;
}

#mcVideoPlayer .uvpjs__progress-slider::-moz-range-thumb {
  visibility: hidden;
}

#mcVideoPlayer .uvpjs__progress-slider::-ms-thumb {
  visibility: hidden;
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-webkit-slider-runnable-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-moz-range-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-ms-fill-lower {
	background: #fbc932
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-webkit-slider-thumb {
	background: #fbc932;
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-moz-range-thumb {
	background: #fbc932;
}

#mcVideoPlayer .uvpjs--touch:not(.uvpjs--ad) .uvpjs__progress-slider::-ms-thumb {
	background: #fbc932;
}

#mcVideoPlayer .uvpjs--ad .uvpjs__progress-slider::-webkit-slider-runnable-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs--ad .uvpjs__progress-slider::-moz-range-track {
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs--ad .uvpjs__progress-slider::-ms-fill-lower {
	background: #fbc932;
}

#mcVideoPlayer .uvpjs__progress-loaded {
	color: #2c3e50;
	background: #141c24 !important
}

#mcVideoPlayer .uvpjs__progress-loaded[aria-valuenow]:before {
	background: #2c3e50
}

#mcVideoPlayer .uvpjs__progress-loaded::-moz-progress-bar {
	background: #2c3e50
}

#mcVideoPlayer .uvpjs__progress-loaded::-webkit-progress-bar {
	background: #141c24
}

#mcVideoPlayer .uvpjs__progress-loaded::-webkit-progress-value {
	background: #2c3e50
}

#mcVideoPlayer .uvpjs__progress-loaded[role]:after {
	background-image: none
}

#mcVideoPlayer .uvpjs__progress-loaded[role][aria-valuenow] {
	background: #141c24 !important
}

#mcVideoPlayer .uvpjs[data-stream="live"] .uvpjs__time-live::before {
	background: #fbc932;
}

#mcVideoPlayer .uvpjs__volume-slider {
	background: rgba(43, 61, 79, 0.8);
}


#mcVideoPlayer .uvpjs__volume-slider::-webkit-slider-runnable-track {
  position: relative;
	width: 80px;
	height: 3px;
	background: #141c24;
	background-color: #141c24;
	background-image: linear-gradient(#fbc932, #fbc932);
	background-repeat: no-repeat;
	background-size: 100% 100%
}

#mcVideoPlayer .uvpjs__volume-slider::-moz-range-track {
	background: #141c24;
	background-color: #141c24;
	background-image: linear-gradient(#fbc932, #fbc932);
}

#mcVideoPlayer .uvpjs__volume-slider::-ms-track {
	background: #141c24;
	border: none;
	color: #141c24
}

#mcVideoPlayer .uvpjs__volume-slider::-ms-fill-lower {
	background: #fbc932
}

#mcVideoPlayer .uvpjs__volume-slider::-webkit-slider-thumb {
  visibility: hidden;
} 

#mcVideoPlayer .uvpjs__volume-slider::-moz-range-thumb {
  visibility: hidden;
} 

#c__progress-sliderntrols_videoContainer .uvpjs__volume-slider::-ms-thumb {
  visibility: hidden;
}

/* ------ */
